<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bosch.smartcampus.thermalcomfortstudy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Microsoft Band permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.microsoft.band.service.access.BIND_BAND_SERVICE" />

    <application
        android:name=".ThermalComfortStudyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.SurveyActivity" />
        <activity android:name=".ui.ActionReportActivity" />

        <service android:name=".service.SAConnectionService" />
        <service android:name=".service.BandStreamingService" />
        <service android:name=".service.BandDataSamplingService" />

        <receiver android:name=".service.SurveyNotificationAlarmReceiver">
            <intent-filter>
                <action android:name="SurveyNotificationAlarmReceiver.intent.action.SURVEY_NOTIFICATION_ALARM" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.BandDataSamplingAlarmReceiver">
            <intent-filter>
                <action android:name="BandDataSamplingAlarmReceiver.intent.action.BAND_DATA_SAMPLING_ALARM" />
                <action android:name="BandDataSamplingService.intent.action.BAND_DATA_SAMPLING_OK" />
                <action android:name="BandDataSamplingService.intent.action.BAND_DATA_SAMPLING_BAD" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.SurveyNotificationClickReceiver">
            <intent-filter>
                <action android:name="SurveyNotificationClickReceiver.intent.action.SURVEY_NOTIFICATION_CLICK" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.DataUploadAlarmReceiver">
            <intent-filter>
                <action android:name="DataUploadAlarmReceiver.intent.action.DATA_UPLOAD_ALARM" />
                <action android:name="SAConnectionService.intent.action.SA_UPLOAD_DATA_OK" />
                <action android:name="SAConnectionService.intent.action.SA_UPLOAD_DATA_BAD" />
            </intent-filter>
        </receiver>
    </application>

</manifest>